body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #5cb85c;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

#reboot-button {
    background-color: red;
}

#reboot-button:hover {
    background-color: darkred;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input, button {
        padding: 12px;
        font-size: 16px;
    }
}
